BODY {
  background-color: #ffffff;

  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 14px;
}

input, textarea {
  margin-top: 0;
  vertical-align: middle;

}

a {

  color: #CC6600;
  text-decoration: none;
}

td {}

div.cont {
  width: 650px;
  display: block;
  margin-top: 20px;
}

.cont:after {
  content: '';
  display: block;
  clear: both;
}

div.szt {
  width: 100%;
  float: left;
  border: 1px solid silver;
  display: block;
  margin: 2px;
}

div.img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  padding: 5px;
  float: left;
}

div.opisy {
  width: 500px;
  float: left;
}

div.wynik {
  width: 200px;
  float: right;
}

h3 {
  font-size: 1 rem;
}

td {
  padding: 10px;
}

.btn {
  text-align: left;
}

.accordion {
  --bs-accordion-btn-bg: #4e4e4e;
  --bs-accordion-active-bg: #313131;
  --bs-accordion-active-color: white;

  --bs-accordion-btn-color: white;
  --bs-accordion-btn-active-icon: white;
}


label {
  font-weight: 600;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
